Имеются данные adult.csv (см. в материалах к занятию)  

Целевой переменной является уровень дохода income (крайний правый столбец).  

Описание признаков можно найти по ссылке http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html  

Вам необходимо построить модель логистической регрессии, которая предсказывает уровень дохода человека. При возможности попробуйте улучшить точность предсказаний (метод score) с помощью перебора признаков.

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [26]:
data = pd.read_csv('adult.csv')

In [27]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [28]:
data.shape

(48842, 15)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Посмотри количество уникальных значений:

In [30]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [31]:
# попробуем выбрать какие-нибудь признаки
selectedColumns = data[['age', 'gender', 'race', 'income']]

# столбец race является категориальной переменной
# переведем ее в значения 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies(selectedColumns, columns = ['race'])

# столбец sex является целевой переменной, удаляем его из X
del X['income']
X.head()

,age,gender,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25,Male,0,0,1,0,0
1,38,Male,0,0,0,0,1
2,28,Male,0,0,0,0,1
3,44,Male,0,0,1,0,0
4,18,Female,0,0,0,0,1

Переменная gender является категориальной.  
Переведем значения столбца в числа, оставив один столбец.

In [32]:
le = LabelEncoder()

In [33]:
le.fit(data['gender'])

LabelEncoder()

In [34]:
X['gender_tr'] = le.transform(data['gender'])

In [35]:
X.head()

,age,gender,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_tr
0,25,Male,0,0,1,0,0,1
1,38,Male,0,0,0,0,1,1
2,28,Male,0,0,0,0,1,1
3,44,Male,0,0,1,0,0,1
4,18,Female,0,0,0,0,1,0

In [36]:
del X['gender']

In [37]:
X.head()

,age,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_tr
0,25,0,0,1,0,0,1
1,38,0,0,0,0,1,1
2,28,0,0,0,0,1,1
3,44,0,0,1,0,0,1
4,18,0,0,0,0,1,0

In [40]:
ley = LabelEncoder()
ley.fit(data['income'])
y = pd.Series(data = ley.transform(data['income']))

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Обучаем модель

In [44]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [45]:
model.fit( X, y )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [46]:
predictions = model.predict_proba( X )

In [47]:
model.score(X, y)

0.7444412595716801